<!doctype html>
<html>
<head>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
</head>
<body>
<h1>Welcome to the text analyser.Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='width: 689px; height: 74px;'></textarea><br>
    <input type='checkbox' name='removepunc'> Remove Punctuation <br>
    <input type='checkbox' name='upper_char'> Capitalized Text <br>
    <input type='checkbox' name='spaceremove'> Extra Space Remove <br>
    <input type='checkbox' name='charcount'> Char Count <br>

    <button type='submit'>Text Analyser</button>

</form>
</form>
</body>
</html>